alembic==1.4.3
appdirs==1.4.4
APScheduler==3.6.3
attrs==20.2.0
click==7.1.2
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-APScheduler==1.11.0
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.4
iniconfig==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.2
Mako==1.1.3
MarkupSafe==1.1.1
packaging==20.4
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.9.0
pyparsing==2.4.7
pytest==6.1.1
python-dateutil==2.8.1
python-dotenv==0.14.0
python-editor==1.0.4
pytz==2020.1
six==1.15.0
SQLAlchemy==1.3.20
toml==0.10.1
tox==3.20.1
tox-venv==0.4.0
-e git+gogs@git.craftbroec.nl:tuinbouwer/tuinbouwer_server_api.git@40dc019e48058dd2967f653528603455880cd1eb#egg=tuinbouwer_server_api
tzlocal==2.1
virtualenv==20.0.33
Werkzeug==1.0.1
